# x86_64、Windows、macOS、Linux 主机默认使用的镜像，包含 FFmpeg。
MEDIAMTX_IMAGE=bluenviron/mediamtx:1-ffmpeg

# 仅 Raspberry Pi 使用：这是严格意义上功能最全的镜像，因为它还包含 Raspberry Pi 摄像头支持。
# 需要时将 MEDIAMTX_IMAGE 设置为 bluenviron/mediamtx:1-ffmpeg-rpi。

LOG_LEVEL=info

# 设置为客户端访问此服务器时使用的局域网 IP、公网 IP 或域名。
# 仅本机浏览器测试时，127.0.0.1 已足够。
WEBRTC_ADDITIONAL_HOSTS=127.0.0.1

API_PORT=9997
METRICS_PORT=9998
PPROF_PORT=9999
PLAYBACK_PORT=9996

RTSP_PORT=8554
RTSPS_PORT=8322
RTMP_PORT=1935
RTMPS_PORT=1936
HLS_PORT=8888
WEBRTC_HTTP_PORT=8889
WEBRTC_ICE_PORT=8189
WEBRTC_ICE_TCP_PORT=8189
SRT_PORT=8890

RTP_PORT=8000
RTCP_PORT=8001
MULTICAST_RTP_PORT=8002
MULTICAST_RTCP_PORT=8003
SRTP_PORT=8004
SRTCP_PORT=8005
MULTICAST_SRTP_PORT=8006
MULTICAST_SRTCP_PORT=8007
